.base {
  @apply text-xs md:text-sm text-white font-semibold
  hover:shadow-md shadow px-4 py-2 mx-4 rounded-full 
  outline-none focus:outline-none ease-linear transition-all duration-150;
}

.button-accept {
  @apply bg-signature_color-500 dark:bg-signature_color-600
  hover:bg-signature_color-400 active:bg-signature_color-400;
}

.button-reject {
  @apply bg-bg_color-400 dark:bg-bg_color-500
  hover:bg-bg_color-300 active:bg-bg_color-300;
}
