/* Top Banner */
.top-banner-wrapper {
  @apply relative flex flex-wrap w-full h-[300px]
  border-t border-b border-bg_color-200 dark:border-bg_color-900
  justify-center;
}

.top-banner-container {
  @apply flex flex-col md:flex-row-reverse justify-between
    w-[90%] lg:w-[900px];
}

.top-banner-left {
  @apply ml-10 mb-10 flex flex-col justify-end
    cursor-pointer;
}
.top-banner-right {
  @apply flex items-center justify-center h-full;
}

.top-banner-head {
  @apply font-light text-sm;
}
.top-banner-title {
  @apply font-bold text-2xl mb-1;
}

.top-banner-description {
  @apply font-light text-base;
}

.banner-circles-wrapper {
  @apply absolute bottom-1.5;
}

.banner-circles-container {
  @apply flex w-full mx-auto;
}

.banner-circle {
  @apply w-2 h-2 rounded-2xl mx-1;
}
