@import "./animation.css";

/* connect modal 뿐만 아니라 feedback modal에서도 동일하게 사용되어 다른 이름으로 변경하는 것이 적합함*/
.connect-modal {
  animation: zoomIn 0.2s ease-out;
}

.close-connect-modal {
  animation: zoonOut 0.2s ease-in;
}

.connect-wrapper {
  @apply fixed  inset-0 z-[100] bg-black bg-opacity-50 backdrop-blur-sm
            flex
            items-center justify-center;
}

.connect-modal-section {
  @apply flex fixed h-[100vh]
            items-center justify-center
            w-[80vw] md:w-[400px] max-w-screen-md
            overflow-y-scroll;
}

.connect-container {
  @apply flex flex-col
            items-center justify-center
            w-[70vw]  md:w-[80%]
            rounded-2xl
            bg-bg_color-100 dark:bg-bg_color-900
            dark:border-2
            dark:border-bg_color-800
            drop-shadow-2xl;
  .connect-content-wrapper {
    @apply w-[80%];
  }

  .connect-btn-wrapper {
    @apply flex flex-row mt-5 mb-5 space-x-[5vw];
  }

  .connect-btn {
    @apply px-4 py-2
        rounded-full;
  }

  .connect-cancel-btn {
    @apply bg-bg_color-800 dark:bg-bg_color-400
        active:bg-pink-600
        text-white font-bold text-xs;
  }

  .connect-approve-btn {
    @apply bg-signature_color-500 dark:bg-signature_color-500
        active:bg-pink-600
        text-white font-bold text-sm;
  }

  .connect-title {
    @apply text-xl
        mt-5
        font-bold
        text-bg_color-800
        dark:text-bg_color-200;
  }
  .connect-header {
    @apply text-lg
        ml-1
        font-bold
        text-center
        text-bg_color-800
        dark:text-bg_color-200
        mt-5 mb-2;
  }
}
