@import "./animation.css";

.connect-modal {
  animation: zoomIn 0.2s ease-out;
}

.close-connect-modal {
  animation: zoonOut 0.2s ease-in;
}

.ConnectWrapper {
  @apply fixed  inset-0 z-[101] bg-black bg-opacity-50 backdrop-blur-sm
            flex
            items-center justify-center;
}

.connect-modal-section {
  @apply flex fixed h-[100vh]
            items-center justify-center
            w-[80vw] max-w-screen-md
            overflow-y-scroll;
}

.connect-container {
  @apply flex flex-col
            items-center justify-center
            w-[70vw]  md:w-[80%]
            rounded-2xl
            bg-neutral-100 dark:bg-neutral-900
            dark:border-2
            dark:border-neutral-800
            drop-shadow-2xl;
  .connect-content-wrapper {
    @apply w-[80%];
  }

  .connect-btn-wrapper {
    @apply flex flex-row mt-5 mb-5 space-x-[10vw];
  }

  .connect-btn {
    @apply px-4 py-2
        rounded-full;
  }

  .connect-cancel-btn {
    @apply bg-neutral-800 dark:bg-neutral-400
        active:bg-pink-600
        text-white font-bold text-xs;
  }

  .connect-approve-btn {
    @apply bg-sky-400 dark:bg-sky-500
        active:bg-pink-600
        text-white font-bold text-sm;
  }

  .connect-title {
    @apply text-xl
        mt-5
        font-bold
        text-neutral-800
        dark:text-neutral-200;
  }
  .connect-header {
    @apply text-lg
        ml-1
        font-bold
        text-neutral-800
        dark:text-neutral-200
        mt-5 mb-2;
  }
}

/*.connect-container {*/
/*  @apply fixed inset-0 z-[101] bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center min-w-[100vw];*/

/*  & .connect-section {*/
/*    @apply relative py-16 mt-24 connect-modal w-full;*/

/*    & .connect-container {*/
/*      @apply px-4;*/

/*      & .close-btn {*/
/*        @apply text-white text-5xl w-full flex justify-end p-5;*/
/*      }*/

/*      & .connect-content {*/
/*        @apply relative flex flex-col min-w-0 break-words bg-white dark:bg-neutral-600 w-full mb-6 shadow-xl rounded-lg max-w-[600px];*/

/*        & .message {*/
/*          @apply text-3xl font-semibold leading-normal;*/
/*        }*/

/*        & .connect-btn-container {*/
/*          @apply flex flex-row m-5 justify-center items-center;*/

/*          & .connect-btn {*/
/*            @apply bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 mx-7;*/
/*          }*/
/*        }*/
/*      }*/
/*    }*/
/*  }*/
/*}*/
