@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./home.css";
@import "./about.css";
@import "./mentor.css";
@import "./animation.css";
@import "./connect.css";

::-webkit-scrollbar {
  width: 2px; /* 스크롤바의 너비 설정 */
  height: 2px; /* 스크롤바의 높이 설정 */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* 스크롤 트랙의 배경 색상 설정 */
  border-radius: 8px; /* 스크롤 트랙의 모서리 둥그렇게 처리 */
}
::-webkit-scrollbar-thumb {
  background-color: #cecece; /* 스크롤바의 색상 */
  border-radius: 8px; /* 스크롤바의 모서리 둥그렇게 처리 */
}

:root {
  --ti-cursor-color: #6366f1;
  --scroll: 0;
}

body {
  margin: 0;
}

body,
html {
  overflow-x: hidden;
}

h1,
h3,
h4,
h5 {
  @apply text-slate-600 dark:text-slate-400;
}

h2 {
  @apply dark:text-slate-300 text-slate-800;
}

h6 {
  @apply dark:text-slate-200 text-slate-800;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

footer {
  @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-slate-600 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-800 dark:text-slate-200;
}

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

.header {
  @apply text-gray-600 bg-gray-100 dark:bg-gray-900 w-full md:fixed md:z-[9999];
}

.btn-project {
  @apply inline-flex text-black dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg;
}

.svg {
  @apply fill-slate-500 dark:fill-slate-400;
}

.svg:hover {
  @apply fill-indigo-500;
}

.btn-drawer {
  @apply border-0;
}

.btn-drawer:hover {
  @apply text-indigo-500 transition-all scale-x-110 scale-y-110;
}

.app-container {
  @apply p-2 md:px-10 flex flex-wrap flex-col md:flex-row w-[100vw] items-center justify-center;
}

/* animation */

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

/* Card */

.enroll-card {
  @apply flex flex-col m-10 rounded-xl p-5
  transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}

.feedback-card {
  @apply w-full flex flex-wrap rounded-xl
  transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}
