@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.bg-primary {
  @apply bg-white dark:bg-slate-800;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoonOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

.btn-project {
  @apply inline-flex text-black dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg;
}

.app-container {
  @apply mx-24 flex flex-wrap min-h-screen p-5 flex-col md:flex-row items-center;
}

.fade-in {
  animation: fadeIn 0.4s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}

.mentor-modal {
  animation: zoomIn 0.6s ease-out;
}

.close-modal {
  animation: zoonOut 0.4s ease-in;
}

.connect-modal {
  animation: zoomIn 0.3s ease-out;
}

.close-connect-modal {
  animation: zoonOut 0.2s ease-in;
}

.mentor-card {
  @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-400;
}
