@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px; /* 스크롤바의 너비 설정 */
  height: 2px; /* 스크롤바의 높이 설정 */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* 스크롤 트랙의 배경 색상 설정 */
  border-radius: 8px; /* 스크롤 트랙의 모서리 둥그렇게 처리 */
}
::-webkit-scrollbar-thumb {
  background-color: #cecece; /* 스크롤바의 색상 */
  border-radius: 8px; /* 스크롤바의 모서리 둥그렇게 처리 */
}

:root {
  --ti-cursor-color: #6366f1;
  --scroll: 0;
}

body {
  margin: 0;
}

h1,
h3,
h4,
h5 {
  @apply text-slate-600 dark:text-slate-400;
}

h2 {
  @apply dark:text-slate-300 text-slate-800;
}

h6 {
  @apply dark:text-slate-200 text-slate-800;
}

footer {
  @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-slate-600 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-800 dark:text-slate-200;
}

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoonOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0.5;
  }
}

.btn-project {
  @apply inline-flex text-black dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg;
}

.svg {
  @apply fill-slate-500 dark:fill-slate-400;
}

.svg:hover {
  @apply fill-indigo-500;
}

.btn-drawer {
  @apply border-0;
}

.btn-drawer:hover {
  @apply text-indigo-500 transition-all scale-x-110 scale-y-110;
}

.app-container {
  @apply mx-10 md:mx-24 flex flex-wrap min-h-screen p-5 flex-col md:flex-row items-center;
}

/* animation */

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

.mentor-modal {
  animation: slideIn 0.3s ease-in;
}

.close-modal {
  animation: slideOut 0.3s ease-out;
}

.connect-modal {
  animation: zoomIn 0.2s ease-out;
}

.close-connect-modal {
  animation: zoonOut 0.2s ease-in;
}

/* Card */

.mentor-card {
  @apply rounded-xl w-full
            transition duration-300 transform border border-gray-300
            sm:scale-100
            scale-[0.75]
            sm:hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}

@media (max-width: 640px) {
}

.enroll-card {
  @apply flex flex-col m-10 rounded-xl p-5
  transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}

.feedback-card {
  @apply w-full flex flex-wrap rounded-xl
  transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40;
}

/*cssfile */

/* about test */

.about-section {
  @apply w-full bg-black;
}

.about-typo {
  @apply w-full h-[100vh];
}

.arrow {
  @apply w-[50vh];
}

.about-typo-text-big {
  @apply text-[2.5em] sm:text-[3.5em] md:text-[5em] lg:text-[6em] xl:text-[7em] font-bold text-white w-full relative;
}

.about-image1 {
  background-image: url("../../public/pexels-min-an-920534.jpg");
  @apply bg-contain md:bg-cover w-full h-[100vh] flex flex-wrap items-center p-[3em];
}

.about-image2 {
  background-image: url("../../public/pexels-fauxels-3183165.jpg");
  @apply w-full h-[100vh] items-center p-[3em] bg-cover flex flex-wrap;
}

.about-image3 {
  background-image: url("../../public/pexels-pixabay-270557.jpg");
  @apply w-full h-[100vh] bg-cover p-[3em] flex flex-wrap;
}

@media (max-width: 767px) {
  .about-image1 {
    background-image: none;
  }
  .about-image2 {
    background-image: none;
  }
  .about-image3 {
    background-image: none;
  }
}

.arrow {
  display: none; /* 초기 상태 감추기 */
}

.show .arrow {
  display: absolute; /* 보이게 하기 */
  font-size: 5em;
  color: white;
}
