@import "./animation.css";

.mentor-card {
  @apply rounded-xl w-full
          transition duration-300 transform border border-gray-300
          sm:scale-100
          scale-[0.8]
          sm:hover:scale-105
          hover:shadow-lg
          dark:border-gray-200/50
          dark:hover:shadow-gray-400/40;

  .mentor-image-container {
    @apply rounded-t-xl object-cover flex w-full h-[45%];
  }

  .mentor-card-content {
    @apply w-full flex-col justify-center items-center p-2 md:p-5;

    .user-nickname-container {
      @apply w-full relative my-3 truncate;

      .user-nickname {
        @apply text-xl font-bold;
      }
    }

    .user-short-description {
      @apply text-lg py-3;
    }

    .hashtag-container {
      @apply flex-wrap justify-center items-center py-3;

      .hashtags-font {
        @apply text-blue-500 text-sm;
      }
    }
  }
}

/* mentor modal */

.mentor-modal-container {
  @apply fixed inset-0
            bg-black bg-opacity-25
            backdrop-blur-sm
            flex justify-center items-center
            w-[100vw];

  .mentor-modal-section {
    @apply fixed h-[100vh] overflow-y-scroll;

    .close-btn {
      @apply text-black dark:text-white absolute top-0 right-0 m-7 text-3xl;
      z-index: 1;
    }
  }
}

.close-modal {
  animation: slideOut 0.3s ease-out;
}

.mentor-modal {
  animation: slideIn 0.3s ease-in;
}

.connect-btn-container {
  @apply flex justify-center items-center w-full mb-5;

  .connect-btn {
    @apply rounded-full
            py-2 px-5
            bg-blue-500
            text-white text-lg
            hover:bg-blue-600;
  }
}
