.profile-wrapper {
  @apply flex
                items-center justify-center py-5;
}

.profile-container {
  @apply flex flex-col
                items-center justify-center
                w-[90vmin] md:w-[600px]
                rounded-2xl bg-bg_color-100 dark:bg-bg_color-900
                drop-shadow-xl;

  .profile-update-btn {
    @apply text-xs md:text-sm
    bg-signature_color-500 dark:bg-signature_color-600 hover:bg-signature_color-600 active:bg-signature_color-600
    uppercase text-white font-bold hover:shadow-md shadow
    px-4 py-2 rounded outline-none focus:outline-none
    sm:mr-2 mb-1 ease-linear transition-all duration-150;
  }
}

.profile-image-name-container {
  @apply flex-wrap w-full items-center justify-center mt-12;
}

.profile-info-wrapper {
}

.profile-info-container {
  @apply flex flex-col justify-center mt-5;
}

.short-description-container {
  @apply flex
                justify-center
                w-[80%]
                break-all
                px-3 py-4
                mt-10 mb-10
                rounded-2xl bg-bg_color-50 dark:bg-bg_color-800
                shadow-sm;
}

.profile-tag-wrapper {
  @apply flex flex-col
                justify-start items-center
                overflow-ellipsis mb-5
                ;
    .profile-tag-list {
        @apply flex flex-wrap
        justify-center items-center
        w-[90%] overflow-hidden
    }
}

.profile-title {
  @apply text-xl
                font-bold
                text-bg_color-800
                dark:text-bg_color-200;
}



.profile-description-wrapper {
  @apply flex flex-col
                items-center justify-center
                w-[80%] mb-5;
}

.ProfileDescriptionSplitBar {
  @apply h-[1px]
                bg-bg_color-800
                dark:bg-bg_color-50
                w-[40%]
                mt-2 mb-5;
}

.ProfileImageWrapper {
  @apply flex justify-center items-center;
}

.ProfileImage {
  @apply object-cover
                w-[30vw] h-[30vw]
                md:w-[200px] md:h-[200px] mt-10;
}

.profile-description {
  @apply whitespace-pre-wrap w-[100%] break-words
    px-6 py-4 rounded-2xl
    bg-bg_color-50 dark:bg-bg_color-800
shadow-sm;
}

.profile-update-hashtag-input-wrapper {
  @apply flex justify-center items-center mb-5 w-full;
  .profile-update-hashtag-input-btn {
    @apply bg-signature_color-500 dark:bg-signature_color-600 hover:bg-signature_color-600 ml-2 text-sm font-bold text-white py-1 px-2 rounded;
  }
  width: min(30%, max-content);
}

.profile-small-message {
  @apply text-sm
                text-bg_color-400
                dark:text-bg_color-400 -mb-1.5;
}

.profile-category-card-wrapper {
  @apply flex flex-row mr-3;
}

.profile-category-card {
  @apply whitespace-nowrap m-2 text-sm rounded-full px-4 py-2 focus:outline-none focus:ring focus:ring-rose-300
  font-bold;
}

.profile-category-card-off {
  @apply bg-rose-300 dark:bg-rose-500 ring ring-rose-800;
}

.profile-category-card-on {
  @apply bg-bg_color-300 dark:bg-bg_color-400;
}

.profile-update-btn-wrapper {
  @apply flex flex-row mt-3 mb-10 space-x-4;
  .profile-update-approve-btn {
    @apply text-xs md:text-sm
    bg-signature_color-500 dark:bg-signature_color-600 hover:bg-signature_color-600 active:bg-signature_color-600
    uppercase text-white font-bold hover:shadow-md shadow
    px-4 py-2 rounded outline-none focus:outline-none
    sm:mr-2 mb-1 ease-linear transition-all duration-150;
  }

  .profile-update-cancel-btn {
    @apply text-xs md:text-sm
    bg-bg_color-500 dark:bg-bg_color-500 hover:bg-bg_color-300 active:bg-bg_color-600
    uppercase text-white font-bold
    hover:shadow-md shadow
    px-4 py-2 rounded outline-none
    focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150;
  }
}
