.search-header-text {
  @apply text-lg font-bold text-neutral-800 dark:text-neutral-200 m-5 whitespace-pre;
}

.search-container {
  @apply flex flex-col items-center justify-center w-[80%] md:w-[900px];
}

.mentor-cards-container {
  @apply flex flex-wrap justify-center items-center w-full;
}
