.base {
  @apply rounded-xl w-full
          transition duration-300 transform border border-bg_color-300
          sm:scale-100
          scale-[0.8]
          sm:hover:scale-105
          hover:shadow-lg
          dark:border-bg_color-200/50
          dark:hover:shadow-bg_color-400/40;
}
